body {
  /* width: 100vw;
  height: 100vh; */
  box-sizing: border-box;
  margin: 10px;

  display: flex;
    flex-direction: column;
  text-align: center;
}

.descr-init {
  padding: 0.5rem;
}

#cruciverba-container {
  display: grid;
  grid: repeat(7, 1fr) / repeat(11, 1fr);
    scrollbar-width: auto;
}

.editable-tile {
  border: 1px solid black;
  aspect-ratio: 1;
  text-align: center;
  margin: 0;
}
.editable-tile:disabled {
  background-color: black;
  border-color: white;
}